<section class="container ap-auth row align-center justify-center">
  <div class="ap-auth--wrapper">
    <div class="ap-auth__header">
      <div
        *ngIf="null !== loginInfo; else isLoading ? loading : loginInfoTemplate"
        [innerHtml]="loginInfo"
        class="col ap-auth-container"></div>
    </div>

    <router-outlet #o="outlet"></router-outlet>

    <div class="col ap-login__footer ap-copy ap-copy--small">
      <div class="row align-center justify-between">
        <a [href]="landingPageUrl" target="_self">
          <img class="ap-logo" src="assets/images/logo.png" [alt]="name" />
        </a>
        <a
          class="ap-copy--light"
          [href]="termsOfServiceLink"
          rel="noopener noreferrer"
          target="_blank"
          data-test="common-terms-of-service-link">
          Terms of Service
        </a>
        <a
          class="ap-copy--light"
          [href]="privacyPolicyLink"
          rel="noopener noreferrer"
          target="_blank"
          data-test="common-privacy-policy-link">
          Privacy Policy
        </a>
        <span class="ap-copy--gray">{{ version }}</span>
      </div>
    </div>

    <div class="col col-xs-12 col-lg-6 ap-auth__content ap-bg-white justify-between">
      <div [@fadeAnimation]="getRouterOutletState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      <div class="row align-center justify-between">
        <p class="ap-copy ap-copy-instructions">
          Don't have an account? Email <a href="mailto:ads@swashapp.io">ads@swashapp.io</a> to get verified and start onboarding today.
        </p>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner [diameter]="60" [strokeWidth]="8"></mat-spinner>
  </div>
</ng-template>
<ng-template #loginInfoTemplate>
  <div class="col flex-auto justify-between ap-auth-container">
    <div>
      <h2 class="ap-heading ap-heading--h2 ap-heading--secondary">Hello!</h2>
      <p class="ap-copy ap-copy--semi ap-copy--medium ap-copy--light">Please log in to your account</p>
    </div>
  </div>
</ng-template>
